body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d4/Viol%C3%A3o.jpg);
    background-size: auto 100vh;
    font-family: arial;
    height: 100vh
  }
  .menu{
    background-color: white;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around
  }
  
  .menu li{list-style: none
  }
  
  a{
    text-decoration: none;
    color: brown
  }
  
  a:hover {text-decoration: underline;
  }
  .site-title {
    text-align: center;
    color: whitesmoke
      
  }
  .site-subtitle {
    text-align: center;
    color: whitesmoke
  }